<div class="flex flex-wrap flex-col justify-between w-48 h-full mx-5" *ngIf="product">
  <div>
    <div class="bg-gray-300 flex justify-center p-5 rounded-lg">
      <fa-icon [icon]="faImage" size="8x"></fa-icon>
    </div>
    <div>
      <span class="font-bold">
        {{product.name}}
      </span>
    </div>
    <div>
      <p>
        {{ product.description }}
      </p>
    </div>
    <div class="flex justify-end">
      {{ product.price.grossPrice | currency:product.price.currencyCode }}
    </div>
  </div>


  <button [disabled]="requestExecuting" (click)="onAddProductToCart()" class="group relative flex justify-around rounded-lg text-indigo-600 border-2 border-indigo-600 px-5 py-2 text-sm font-semibold hover:bg-indigo-600 hover:text-indigo-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
    <span>Add to Cart</span>
    <fa-icon [icon]="faShoppingCart"></fa-icon>
    <fa-icon *ngIf="requestExecuting" [icon]="faSpinner" class="animate-spin"></fa-icon>
  </button>
</div>
