
<div class="flex justify-center" *ngIf="(order$ | async) as order">
  <div class="w-96">

    <h2 class="text-4xl font-extrabold">Order Details</h2>

    <div>
      Order: #{{ order.id }}
    </div>

    <div class="flex justify-between">
      <span>State: {{ order.state }}</span>
      <button *ngIf="order.state === 'Submitted'" class="button"
        (click)="onPayOrderClick(order.id)">Pay</button>
    </div>


    <h3 class="text-2xl font-extrabold">Order Products</h3>
    <div *ngFor="let product of order.products" class="flex w-full p-5">
      <div>
        <fa-icon [icon]="faImage" size="5x"></fa-icon>
      </div>
      <div class="w-full pl-5">
        <div>{{product.name}}</div>
        <div class="flex justify-between">
          <span>Quantity:</span>
          <span>{{product.quantity}}</span>
        </div>
        <div class="flex justify-between">
          <span>Total:</span>
          <span>{{product.totalPrice.grossPrice | currency: product.totalPrice.currencyCode}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

