<div>
  <label for="input_street" class="block text-sm font-medium leading-6 text-gray-900">Street</label>
  <input id="input_street" type="text" [(ngModel)]="address.street" name="street" class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
</div>

<div>
  <label for="input_zip_code" class="block text-sm font-medium leading-6 text-gray-900">Zip</label>
  <input id="input_zip_code" type="text" [(ngModel)]="address.zipCode" name="zip" class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
</div>

<div>
  <label for="input_city" class="block text-sm font-medium leading-6 text-gray-900">City</label>
  <input id="input_city" type="text" [(ngModel)]="address.city" name="city" class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
</div>

<div>
  <label for="input_country" class="block text-sm font-medium leading-6 text-gray-900">Country</label>
  <input id="input_country" type="text" [(ngModel)]="address.country" name="country" class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
</div>
