<div class="w-96 m-auto">
  <h2 class="text-4xl font-extrabold">Orders</h2>

  <div>
    <label for="input_start_date" class="block text-sm font-medium leading-6 text-gray-900">Start Date</label>
    <input id="input_start_date" type="date" [(ngModel)]="startInput" name="start" class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
  </div>

  <div>
    <label for="input_end_date" class="block text-sm font-medium leading-6 text-gray-900">End Date</label>
    <input id="input_end_date" type="date" [(ngModel)]="endInput" name="end" class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
  </div>

  <button (click)="generateReport()" class="button primary w-full">Generate Report</button>

  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-700">
    <tr>
      <th class="px-6 py-3">StartDate</th>
      <th class="px-6 py-3">EndDate</th>
      <th class="px-6 py-3">Revenue</th>
    </tr>
    </thead>

    <tbody class="bg-white border-b">
    <tr *ngFor="let revenueReport of revenueReports" class="hover:bg-gray-100">
      <td class="px-6 py-4">{{ revenueReport.start | date }}</td>
      <td class="px-6 py-4">{{ revenueReport.end | date }}</td>
      <td class="px-6 py-4">{{ revenueReport.revenue | currency }}</td>
    </tr>
    </tbody>
  </table>


</div>

