<div class="flex justify-center">
  <div>
    <h2 class="text-4xl font-extrabold">
      Admin
    </h2>
    <button [routerLink]="['products']" class="w-full my-2 rounded-md bg-indigo-600 px-5 py-2 text-sm font-semibold text-white hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Products</button>
    <button [routerLink]="['orders']" class="w-full my-2 rounded-md bg-indigo-600 px-5 py-2 text-sm font-semibold text-white hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Orders</button>
    <button [routerLink]="['revenue']" class="w-full my-2 rounded-md bg-indigo-600 px-5 py-2 text-sm font-semibold text-white hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Revnue</button>
  </div>
</div>


