<div class="w-4/5 m-auto">

  <app-shop-header></app-shop-header>

  <form (ngSubmit)="onSearch()" class="my-5 mx-auto w-2/6">
    <label for="input_search" class="sr-only">Password</label>
    <input id="input_search"
           name="search"
           type="text"
           [(ngModel)]="searchKey"
           class="relative block w-full rounded-md border-0 p-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
           placeholder="Search...">
  </form>

  <div class="my-5 flex flex-wrap just">

    <app-product-preview *ngFor="let product of products$ | async" [product]="product"></app-product-preview>

  </div>
</div>


